#todo-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 70px;
    padding-bottom: 0px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

.todo{
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    animation: animate 0.6s; 
    transition: transform 0.2s;
      
}

@keyframes animate {
    0% {transform: scale(0.4);}
    100% {transform: scale(1);}
}

.todo:hover{
    background-color: rgba(0,0,0,0.02);
    transform: scale(0.995);
}
.todo .left-section{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    flex: 1;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.todo .right-section{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;

}   

.edit-button,
.delete-button{
    border: none;
    border-radius: 4px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(223, 59, 59);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.edit-button{
    background-color: rgb(57, 181, 53);
    color: black;
    margin-right: 10px;
}
.edit-button:hover{
    background-color: rgb(58, 165, 54);
}

.delete-button:hover{
    background-color: rgb(200, 50, 50);
}
.edit-button:active,
.delete-button:active{
    opacity: 0.8;
}

.todo-title{
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;

}
.todo-description{
    font-size: 16px;
    color: rgb(151, 149, 149);
}


.todo .left-section .top-section{
    display: flex;
    align-items: center;
}

.todo .left-section .bottom-section{
    display: flex;
    align-items: center;
}

